.header-container{
    height: 4.5rem;
    display: flex;
    padding: 1rem;
    justify-content: space-around;
}

.header-container h1{
color: aquamarine;
}

.header-container h3{
color: rgb(20, 148, 105);
padding-top: 1.5rem;
}
