.body-container{
    height: calc(100% - 4.5rem);
    padding: 3rem 4rem;
    box-sizing: border-box;
    overflow-y: auto ;
    overflow-x: hidden;

}
.add-container{
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-around;

}